.breakdance .bde-header-builder-17-100 {
    --bde-header-width: 100%;
    box-shadow: 5px 15px 25px 10px #00000025
}

.breakdance .bde-header-builder-17-100 .bde-header-builder__container {
    gap: 0rem;
    flex-direction: column;
    min-height: 6rem;
    padding-bottom: 0.15rem
}

@media screen and (max-width:600px) {
    #wpadminbar {
        display: none
    }
    .breakdance .bde-header-builder {
        --wp-admin--admin-bar--height: 0px
    }
}

.breakdance .bde-header-builder-17-100 {
    height: 6rem;
    margin-bottom: 6rem;
    padding-bottom: 6rem
}

@media (max-width:1119px) {
    .breakdance .bde-header-builder-17-100 {
        height: 6rem
    }
}

@media (max-width:1023px) {
    .breakdance .bde-header-builder-17-100 {
        height: 6rem
    }
}

@media (max-width:767px) {
    .breakdance .bde-header-builder-17-100 {
        height: 6rem
    }
}

@media (max-width:479px) {
    .breakdance .bde-header-builder-17-100 {
        height: 6rem
    }
}

.breakdance .bde-logo-list-17-128 {
    --wrapper-gradient-color: var(--bde-palette-color-1)
}

.breakdance .bde-logo-list-17-128 .un-logo-bar__marquee-content,
.breakdance .bde-logo-list-17-128.un-static-image-grid,
.breakdance .bde-logo-list-17-128 .un-logo-bar__scrollable-wrapper {
    column-gap: 0px
}

.breakdance .bde-logo-list-17-128.un-image-carousel-container .un-logo-bar__marquee-content {
    animation-duration: 30s
}

.breakdance .bde-logo-list-17-128 .un-logo-bar__logo-wrapper,
.breakdance .bde-logo-list-17-128 .bde-logo-list .breakdance-link {
    height: 1.25rem
}

@media (max-width:767px) {
    .breakdance .bde-menu-17-105 .breakdance-menu {
        --menu-background: var(--bde-palette-color-1);
        --toggle-padding: 0 0 0.5rem 0;
        --link-border-color: var(--bde-palette-borders-6)
    }
}

@media (min-width:768px) {
    .breakdance .bde-menu-17-105 .breakdance-menu {
        --link-color-hover: var(--bde-palette-color-3)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-link {
        font-size: var(--preset-id-5deb198c-a53c-4b11-aeb0-7a03e6a60174-font-size);
        font-family: var(--preset-id-5deb198c-a53c-4b11-aeb0-7a03e6a60174-font-family);
        font-weight: var(--preset-id-5deb198c-a53c-4b11-aeb0-7a03e6a60174-font-weight);
        text-decoration-line: var(--preset-id-5deb198c-a53c-4b11-aeb0-7a03e6a60174-text-decoration-line);
        text-transform: var(--preset-id-5deb198c-a53c-4b11-aeb0-7a03e6a60174-text-transform)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-item:hover .breakdance-menu-link {
        color: var(--bde-palette-color-3)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-item--active .breakdance-menu-link {
        color: var(--link-effect-text-color, var(--link-color))
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-item--active:hover .breakdance-menu-link {
        color: var(--link-effect-text-color, var(--link-color-hover))
    }
}

@media (max-width:1119px) {}

@media (max-width:1023px) {}

@media (max-width:767px) {
    .breakdance .bde-menu-17-105 .breakdance-menu {
        --links-gap: 0;
        --dropdown-link-icon-display: none;
        --dropdown-link-description-display: none;
        --dropdown-links-gap: var(--gap-none)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-list {
        align-items: stretch;
        background-color: var(--menu-background);
        display: none;
        flex-direction: column;
        left: var(--mobile-offset-x);
        max-height: var(--menu-max-height);
        overflow-y: auto;
        position: absolute;
        top: var(--mobile-offset-y, 100%);
        width: 100vw;
        z-index: var(--bde-z-index-menu-mobile)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--enabled .breakdance-menu-list {
        display: flex
    }
    .breakdance .bde-menu-17-105 .breakdance-responsive-menu--bottom .breakdance-menu-list {
        bottom: var(--mobile-offset-y, 100%);
        top: auto
    }
    .breakdance .bde-menu-17-105 .breakdance-responsive-menu--open .breakdance-menu-list {
        opacity: 1 !important;
        pointer-events: auto !important;
        transform: none !important
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-list>.bde-button {
        border-top: var(--link-border);
        justify-content: var(--link-alignment);
        margin-left: 0;
        padding: 10px 15px
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-list>.bde-button .button-atom {
        width: var(--bde-button-width, 100%)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-list>:last-child {
        border-bottom: var(--link-border)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--accordion .breakdance-menu-list:not(.is-visible):not(.is-collapsing),
    .breakdance .bde-menu-17-105 .breakdance-menu--default .breakdance-menu-list:not(.is-visible):not(.is-collapsing) {
        height: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--accordion .breakdance-menu-list.is-collapsing,
    .breakdance .bde-menu-17-105 .breakdance-menu--default .breakdance-menu-list.is-collapsing {
        height: 0;
        overflow: hidden;
        transition: var(--menu-duration) height ease-in-out, var(--menu-duration) visibility ease-in-out
    }
    .breakdance .bde-menu-17-105 .breakdance-menu .breakdance-menu-link {
        border-top: var(--link-border);
        outline-offset: -1px;
        padding: var(--mobile-link-padding-top) var(--mobile-link-padding-right) var(--mobile-link-padding-bottom) var(--mobile-link-padding-left)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-link-arrow {
        border-top: var(--link-border);
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0
    }
    .breakdance .bde-menu-17-105 .hide-arrows-on-desktop .breakdance-menu-link-arrow {
        display: block
    }
    .breakdance .bde-menu-17-105 .hide-arrows-on-mobile .breakdance-menu-link-arrow {
        display: none
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-floater {
        transform: none;
        visibility: visible
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown--open .breakdance-dropdown-floater {
        transform: none
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-caret {
        display: none
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-body {
        background-color: var(--link-background-color);
        border-radius: 0;
        border-top: var(--link-border);
        box-shadow: none;
        flex-direction: column
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown--custom .breakdance-dropdown-floater,
    .breakdance .bde-menu-17-105 .breakdance-menu--custom-width .breakdance-dropdown-floater {
        width: auto
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--placement-section-width .breakdance-dropdown-floater {
        width: 100%
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-section {
        --dropdown-section-padding: 0;
        --dropdown-section-gap: var(--gap-none)
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-section--additional {
        background-color: transparent;
        border-top: var(--link-border)
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-columns {
        --dropdown-columns-stack: column;
        --dropdown-columns-gap: var(--gap-none)
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-column {
        gap: var(--gap-none)
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-column+.breakdance-dropdown-column {
        border-top: var(--link-border)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--collapse .breakdance-dropdown-column--collapsible {
        gap: var(--gap-none)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--collapse .breakdance-dropdown-column--collapsible .breakdance-dropdown-item:first-child,
    .breakdance .bde-menu-17-105 .breakdance-menu--collapse .breakdance-dropdown-column--collapsible:not(:first-child) {
        border-top: var(--link-border)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--collapse .breakdance-dropdown-column--collapsible .breakdance-dropdown-column__title {
        cursor: pointer;
        outline-offset: -1px
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--collapse .breakdance-dropdown-column--collapsible .breakdance-dropdown-links:not(.is-visible):not(.is-collapsing) {
        height: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--collapse .breakdance-dropdown-column--collapsible .breakdance-dropdown-links.is-collapsing {
        height: 0;
        overflow: hidden;
        transition: var(--menu-duration) height ease-in-out, var(--menu-duration) visibility ease-in-out
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-column__title {
        font-weight: 500;
        justify-content: var(--link-alignment);
        padding: var(--mobile-link-level-2-padding-top) var(--mobile-link-level-2-padding-right) var(--mobile-link-level-2-padding-bottom) var(--mobile-link-level-2-padding-left);
        white-space: normal
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--collapse .breakdance-dropdown-column--collapsible .breakdance-dropdown-column__title:after {
        display: block
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown-item+.breakdance-dropdown-item {
        border-top: var(--link-border)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu .breakdance-dropdown-link {
        justify-content: var(--link-alignment);
        outline-offset: -1px;
        padding: var(--mobile-link-level-3-padding-top) var(--mobile-link-level-3-padding-right) var(--mobile-link-level-3-padding-bottom) var(--mobile-link-level-3-padding-left);
        white-space: normal
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--no-titles .breakdance-dropdown-column__title {
        display: none
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-topbar {
        align-items: center;
        display: flex
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--offcanvas .breakdance-menu-list {
        bottom: 0;
        height: 100vh !important;
        left: 0;
        max-height: none;
        max-width: 100%;
        opacity: 1;
        padding-top: var(--wp-admin--admin-bar--height, 0);
        position: fixed;
        top: 0;
        transform: translate3d(-100%, 0, 0);
        transition: var(--menu-duration) transform ease, var(--menu-duration) visibility ease;
        visibility: hidden;
        width: var(--mobile-offcanvas-width)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--offcanvas.breakdance-responsive-menu--open .breakdance-menu-list {
        visibility: visible
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--offcanvas-right .breakdance-menu-list {
        left: auto;
        right: 0;
        transform: translate3d(100%, 0, 0)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--fullscreen .breakdance-menu-list {
        height: 100vh !important;
        max-height: none !important;
        opacity: 0;
        padding-top: var(--wp-admin--admin-bar--height, 0);
        pointer-events: none;
        position: fixed;
        top: 0;
        transition: var(--menu-duration) opacity ease, var(--menu-duration) visibility ease;
        visibility: hidden
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--fullscreen.breakdance-responsive-menu--open .breakdance-menu-list {
        visibility: visible
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown--wp .breakdance-dropdown-section {
        margin-bottom: -1px
    }
    .breakdance .bde-menu-17-105 .breakdance-dropdown--wp .breakdance-dropdown-link {
        border-bottom: var(--link-border);
        padding: var(--mobile-link-level-2-padding-top) var(--mobile-link-level-2-padding-right) var(--mobile-link-level-2-padding-bottom) var(--mobile-link-level-2-padding-left)
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-toggle {
        display: flex
    }
    .breakdance .bde-menu-17-105 .breakdance-menu--active-styles .breakdance-menu-item--active:before,
    .breakdance .bde-menu-17-105 .breakdance-menu--effect .breakdance-menu-item:before {
        display: none
    }
    .breakdance .bde-menu-17-105 .breakdance-menu-item--active .breakdance-menu-link {
        background-color: var(--link-background-color-active);
        color: var(--link-color-active)
    }
}

@media (max-width:479px) {}

@media (min-width:1120px) {
    .breakdance .bde-menu-dropdown-17-139 .breakdance-dropdown {
        --dropdown-background-color: var(--bde-palette-color-1)
    }
}

@media (max-width:1119px) {}

@media (max-width:1023px) {}

@media (max-width:767px) {}

@media (max-width:479px) {}