.breakdance .bde-section {
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover
}

.breakdance .bde-section .section-container {
    max-width: var(--bde-section-width);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 0 auto;
    padding: var(--bde-section-vertical-padding) var(--bde-section-horizontal-padding)
}

.breakdance .bde-section .section-shape-divider-wrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none
}

.breakdance .bde-section .section-shape-divider-wrapper .section-shape-divider svg {
    position: absolute;
    color: #000;
    width: 100%;
    height: 320px;
    left: 0;
    right: 0;
    top: 0
}

.breakdance .bde-heading {
    max-width: 100%;
    margin: 0
}

.breakdance .bde-dual-heading {
    max-width: 100%;
    margin: 0;
    line-height: 1.2;
    position: relative
}

.breakdance .bde-image-comparison__container,
.breakdance .bde-image-comparison {
    width: 100%;
    position: relative
}

.breakdance .bde-image-comparison .dragger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 100%;
    border: solid 1px #fff
}

.breakdance .bde-image-comparison__wrapper--separator-hidden .dragger {
    visibility: hidden
}

.breakdance .bde-image-comparison__wrapper--vertical .images>div {
    cursor: ns-resize !important
}

.breakdance .bde-image-comparison .dragger::before,
.breakdance .bde-image-comparison .dragger::after {
    content: "";
    position: absolute;
    background-color: #fff
}

.breakdance .bde-image-comparison__wrapper--vertical .dragger::before,
.breakdance .bde-image-comparison__wrapper--vertical .dragger::after {
    top: 50%;
    transform: translateY(-50%);
    width: 2000px;
    height: 1px
}

.breakdance .bde-image-comparison__wrapper--horizontal .dragger::before,
.breakdance .bde-image-comparison__wrapper--horizontal .dragger::after {
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 2000px
}

.breakdance .bde-image-comparison__wrapper--vertical .dragger::before {
    right: calc(50px - 1px)
}

.breakdance .bde-image-comparison__wrapper--vertical .dragger::after {
    left: calc(50px - 1px)
}

.breakdance .bde-image-comparison__wrapper--horizontal .dragger::before {
    bottom: calc(50px - 1px)
}

.breakdance .bde-image-comparison__wrapper--horizontal .dragger::after {
    top: calc(50px - 1px)
}

.breakdance .bde-image-comparison .dragger-arrow {
    width: calc(50px / 4);
    height: calc(50px / 4)
}

.breakdance .bde-image-comparison .dragger-arrow:first-child,
.breakdance .bde-image-comparison .dragger-arrow:last-child {
    transform: rotate(135deg);
    transition-duration: 0.2s;
    transition-property: margin
}

.breakdance .bde-image-comparison .dragger-arrow:first-child {
    border-bottom: 3px #fff solid;
    border-left: 3px #fff solid
}

.breakdance .bde-image-comparison .dragger-arrow:last-child {
    border-top: 3px #fff solid;
    border-right: 3px #fff solid
}

.breakdance .bde-image-comparison__wrapper--horizontal .dragger {
    flex-direction: row
}

.breakdance .bde-image-comparison__wrapper--horizontal .dragger-arrow:first-child,
.breakdance .bde-image-comparison__wrapper--horizontal .dragger-arrow:last-child {
    transform: rotate(45deg)
}

.breakdance .bde-image-comparison__wrapper--vertical:hover .dragger-arrow:first-child {
    margin-bottom: 5px
}

.breakdance .bde-image-comparison__wrapper--horizontal:hover .dragger-arrow:first-child {
    margin-right: 5px
}

.breakdance .bde-image-comparison .un-slide-img-label {
    font-size: 1em;
    position: absolute;
    color: #fff;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.5)
}

.breakdance .bde-image-comparison__wrapper--horizontal .un-slide-img-label {
    top: 0
}

.breakdance .bde-image-comparison__wrapper--horizontal .label-after {
    right: 0;
    border-bottom-left-radius: 5px
}

.breakdance .bde-image-comparison__wrapper--horizontal .label-before {
    border-bottom-right-radius: 5px
}

.breakdance .bde-image-comparison__wrapper--vertical .un-slide-img-label {
    left: 0
}

.breakdance .bde-image-comparison__wrapper--vertical .label-after {
    bottom: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0
}

.breakdance .bde-image-comparison__wrapper--vertical .label-before {
    border-bottom-right-radius: 5px
}

.image-rgt {
    background-image: url(https://user-images.githubusercontent.com/669243/151164278-d14c35ef-5025-4c40-a730-a36fb007e63b.jpg)
}

.image-lft {
    background-image: url(https://user-images.githubusercontent.com/669243/151164294-8186f9dd-6df6-4aac-8dc2-452f0816773f.jpg)
}

.bde-fancy-divider {
    max-width: 100%;
    width: 100%;
    display: flex;
    --bde-fancy-divider-border-style: dotted;
    --bde-fancy-divider-border-size: 2px;
    --bde-fancy-divider-border-color: var(--grey-600);
    --bde-fancy-divider-pattern-height: 12px;
    --bde-fancy-divider-pattern-size: 40px;
    --bde-fancy-divider-pattern-url: 'url()'
}

.bde-fancy-divider__wrapper {
    display: flex;
    width: 100%
}

.bde-fancy-divider__separator {
    width: 100%;
    border-top: var(--bde-fancy-divider-border-size) var(--bde-fancy-divider-border-style) var(--bde-fancy-divider-border-color)
}

.bde-fancy-divider__separator.has-content {
    border-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center
}

.bde-fancy-divider__separator.has-content::before,
.bde-fancy-divider__separator.has-content::after {
    content: "";
    width: 100%;
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: var(--bde-fancy-divider-border-size) var(--bde-fancy-divider-border-style) var(--bde-fancy-divider-border-color)
}

.bde-fancy-divider__separator.has-content-flex-end::after,
.bde-fancy-divider__separator.has-content-flex-start::before {
    display: none
}

.bde-fancy-divider__content {
    margin-right: 16px;
    margin-left: 16px;
    flex-shrink: 0
}

.bde-fancy-divider__separator.has-content-flex-start .bde-fancy-divider__content {
    margin-left: 0 !important
}

.bde-fancy-divider__separator.has-content-flex-end .bde-fancy-divider__content {
    margin-right: 0 !important
}

.bde-fancy-divider__content--icon>svg {
    font-size: inherit;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor
}

.bde-fancy-divider__content--icon {
    display: flex;
    font-size: 32px
}

.bde-fancy-divider__content--image {
    width: 200px
}

.bde-fancy-divider__separator.has-pattern:not(.has-content),
.bde-fancy-divider__separator.has-pattern.has-content::before,
.bde-fancy-divider__separator.has-pattern.has-content::after {
    min-height: var(--bde-fancy-divider-pattern-height);
    -webkit-mask-size: var(--bde-fancy-divider-pattern-size) 100%;
    mask-size: var(--bde-fancy-divider-pattern-size) 100%;
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    background-color: var(--bde-fancy-divider-border-color);
    -webkit-mask-image: var(--bde-fancy-divider-pattern-url);
    mask-image: var(--bde-fancy-divider-pattern-url)
}

.breakdance .bde-video lite-youtube {
    max-width: 100%
}

.breakdance .bde-video lite-vimeo {
    text-align: left
}

.breakdance .bde-video {
    width: 100%;
    max-width: 100%;
    position: relative;
    line-height: 0;
    background: #000
}

.breakdance .bde-video .ee-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.breakdance .bde-video .ee-video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%
}

.breakdance .bde-video .ee-vimeo-poster {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer
}

.ee-vimeo-poster:hover .ee-vimeo-play-button {
    background-color: rgb(98, 175, 237);
    opacity: 1
}

.ee-vimeo-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 70px;
    height: 46px;
    background-color: #212121;
    z-index: 1;
    opacity: 0.8;
    border-radius: 10%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    border: 0;
    cursor: pointer
}

.ee-vimeo-play-button:before {
    content: "";
    border-style: solid;
    border-width: 11px 0 11px 19px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)
}

.breakdance .bde-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 100%;
    position: relative;
    background-size: cover
}

.breakdance .bde-code-block {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left
}

.breakdance .bde-columns {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--bde-column-gap)
}

.breakdance .bde-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    width: calc(var(--column-width) - var(--bde-column-gap) * ((var(--columnCount) - 1) / var(--columnCount)));
    position: relative;
    background-size: cover
}

.breakdance .bde-pricing-table {
    --defaultFontWeight: 500;
    --textColor: var(--bde-body-text-color);
    --textGreyColor: var(--bde-body-text-color);
    --textGreyLightColor: var(--bde-body-text-color);
    --headingColor: var(--bde-headings-color);
    --featuredColor: var(--bde-brand-primary-color);
    --textAlign: center;
    --alignItems: center;
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: column;
    text-align: var(--textAlign);
    align-items: var(--alignItems);
    border-radius: 16px;
    background-color: #fff;
    max-width: 100%;
    padding: 40px;
    height: 100%
}

.breakdance .bde-pricing-table--featured {
    border: 4px solid var(--featuredColor)
}

.breakdance .bde-pricing-table__accent-label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--featuredColor);
    color: #fff;
    padding: 0.5em;
    line-height: 1;
    border-radius: 4px;
    font-size: 0.875em;
    font-weight: 800;
    text-transform: uppercase
}

.breakdance .bde-pricing-table__icon {
    margin-bottom: 24px;
    order: 0
}

.breakdance .bde-pricing-table__icon svg {
    font-size: inherit;
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke: var(--bde-brand-primary-color);
    fill: var(--bde-brand-primary-color)
}

.breakdance .bde-pricing-table__title {
    color: var(--headingColor);
    line-height: 1;
    font-weight: var(--defaultFontWeight);
    font-size: 22px;
    order: 10;
    margin-bottom: 36px;
    margin-top: 0px
}

.breakdance .bde-pricing-table__price-area {
    display: flex;
    flex-direction: column;
    align-items: var(--alignItems);
    order: 20;
    margin-bottom: 36px
}

.breakdance .bde-pricing-table__price-area--before-price-text {
    font-size: 1em;
    font-weight: var(--defaultFontWeight);
    color: var(--textGreyColor);
    margin-bottom: 12px
}

.breakdance .bde-pricing-table__price-area--amount-and-period-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px
}

.breakdance .bde-pricing-table__price-area--amount {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    gap: 4px
}

.breakdance .bde-pricing-table__price-area--amount-currency {
    font-size: 32px;
    font-weight: 700;
    color: var(--headingColor)
}

.breakdance .bde-pricing-table__price-area--amount-number {
    color: var(--headingColor);
    font-weight: 800;
    font-size: 64px;
    white-space: nowrap;
    display: inline-flex
}

.breakdance .bde-pricing-table__price-area--amount-number .bde-pricing-table__price-area--amount-number-fractional {
    display: inline-block;
    font-size: 60%;
    margin-top: 0.15em
}

.breakdance .bde-pricing-table__price-area--billing-period {
    color: var(--textGreyColor);
    font-weight: var(--defaultFontWeight);
    font-size: 1em
}

.breakdance .bde-pricing-table__price-area--badge {
    padding: 0.55em;
    line-height: 1;
    background-color: rgba(255, 165, 0, 0.2);
    color: var(--textColor);
    border-radius: 4px;
    font-size: 0.875em;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 12px;
    letter-spacing: 0.15em
}

.breakdance .bde-pricing-table__description {
    color: var(--textColor);
    line-height: 1.2;
    font-weight: var(--defaultFontWeight);
    font-size: 1em;
    overflow-wrap: break-word;
    order: 30;
    margin-bottom: 24px
}

.breakdance .bde-pricing-table__features {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    order: 40;
    margin-bottom: 36px
}

.breakdance .bde-pricing-table__features-item {
    font-size: 1em;
    color: var(--textColor);
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    align-items: center;
    text-align: left
}

.breakdance .bde-pricing-table .bde-pricing-table__features-item:last-child {
    margin-bottom: 0 !important
}

.breakdance .bde-pricing-table__features-text {
    margin-left: 12px;
    font-weight: var(--defaultFontWeight);
    line-height: 1.3
}

.breakdance .bde-pricing-table__features-item--included .bde-pricing-table__features-text {
    color: var(--textColor)
}

.breakdance .bde-pricing-table__features-icon {
    display: flex;
    font-size: 1.125em
}

.breakdance .bde-pricing-table__features-icon svg {
    font-size: inherit;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor
}

.breakdance .bde-pricing-table__features-item--included .bde-pricing-table__features-icon {
    color: #0DA532
}

.breakdance .bde-pricing-table__features-item--not-included .bde-pricing-table__features-icon {
    color: #D4351E
}

.breakdance .button-atom.bde-pricing-table__cta-button {
    order: 50;
    margin-top: auto;
    width: 100%
}

.breakdance .bde-image {
    max-width: 100%
}

.breakdance-image {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    border: none
}

.breakdance-image-clip {
    overflow: hidden
}

.breakdance-image-object {
    display: block;
    max-width: 100%;
    height: auto
}

.breakdance-image__caption {
    text-align: center;
    margin: 0;
    padding: 16px
}

.breakdance-image--caption-overlap .breakdance-image__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.breakdance-image-link {
    display: block
}

.breakdance-image__mask {
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto
}

.breakdance-image__mask img {
    border-style: none;
    height: auto;
    max-width: 100%
}

.breakdance .bde-fancy-testimonial {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 440px);
    min-width: min-content;
    flex-grow: 1;
    text-align: left
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_quote:nth-child(1) {
    font-size: 50px;
    position: absolute;
    top: -20px;
    left: -20px
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_quote:nth-child(2) {
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    right: 20px;
    transform: scale(-1)
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_quote>svg {
    font-size: inherit;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_text {
    position: relative;
    order: 2
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_text h3 {
    display: flex;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 28px;
    position: relative;
    z-index: 20
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 50px;
    z-index: 10;
    order: 1
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_rate {
    display: flex;
    gap: 4px;
    margin-bottom: 36px;
    z-index: 10;
    order: 3
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_rate svg {
    width: 32px;
    fill: var(--bde-brand-primary-color)
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 8px;
    flex-shrink: 1;
    flex-grow: 1;
    z-index: 10
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_image img {
    width: 100%;
    height: 400px;
    object-fit: cover
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_name {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 6px;
    order: 4
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial_occupation {
    font-weight: 500;
    font-size: 0.875em;
    letter-spacing: 2px;
    margin-bottom: 20px;
    order: 5
}

.breakdance .bde-fancy-testimonial .bde-fancy-testimonial-button-wrapper {
    order: 6
}

.breakdance .bde-advancedslider {
    --bde-advanced-slider-height: auto;
    position: relative;
    max-width: 100%;
    height: var(--bde-advanced-slider-height)
}

.bde-advancedslider .advanced-slider__slide,
.bde-advancedslider .breakdance-swiper-wrapper,
.bde-advancedslider .swiper {
    height: 100%
}

.breakdance .bde-advancedslide.swiper-slide {
    height: auto
}

.breakdance .bde-advancedslide .advanced-slider__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 50px
}

.breakdance .bde-text {
    max-width: 100%;
    margin: 0;
    color: var(--bde-text-color, var(--bde-body-text-color))
}

.eh-webgl-slideshow__wrapper {
    position: relative;
    max-width: 100%
}

.eh-webgl-slideshow__image {
    display: block;
    width: 100%;
    visibility: hidden
}

.eh-webgl-slideshow__canvas {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%
}

.eh-webgl-slideshow_builder-images {
    display: none
}