.breakdance .bde-section-16-100 .section-container {
    align-items: center;
    text-align: center;
    justify-content: center
}

.breakdance .bde-section-16-100 .section-container {
    padding-bottom: 50px;
    padding-top: 50px
}

@media (max-width:1023px) {
    .breakdance .bde-section-16-100 .section-container {
        padding-bottom: 40px;
        padding-top: 40px
    }
}

@media (max-width:767px) {
    .breakdance .bde-section-16-100 .section-container {
        align-items: center;
        text-align: center;
        justify-content: center
    }
}

.breakdance .bde-icon-list-16-138 ul {
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center
}

.breakdance .bde-icon-list-16-138 li .bde-icon-list__text {
    font-size: 14px;
    font-weight: 500
}